APP_NAME=
SHORT_APP_NAME=
SESSION_COOKIE="${SHORT_APP_NAME}"
APP_AUTHOR="DOGLEX"
APP_ENV=local
APP_KEY=
APP_DEBUG=true

APP_URL=
ASSET_URL=

OG_TITLE="DOGLEXABLE POINT OF SALE"
OG_DESCRIPTION="Doglekable Point of Sale - Modern and Premium Management System"
OG_IMAGE="assets/img/preview.png"
OG_LOGO="assets/img/favicon/favicon-32x32.png"
OG_URL="${APP_URL}"
OG_TYPE="website"

APP_TRANSLATE_URL=
APP_DRIVE_URL=

APP_SECRET=
APP_SUBS="OFF"
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

BROADCAST_DRIVER=reverb
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=240
MEMCACHED_HOST=127.0.0.1

REDIS_HOST=pos-redis
REDIS_USERNAME=DOGLEKDEV
REDIS_PASSWORD=DOGLEKANJAY
REDIS_PREFIX=DPOS:
REDIS_DB=0
REDIS_PORT=6379
REDIS_TTL=10080

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

REVERB_APP_ID=
REVERB_APP_KEY=
REVERB_APP_SECRET=
REVERB_SERVER_PATH=
REVERB_SCHEME=http
REVERB_SERVER_HOST=0.0.0.0
REVERB_HOST="localhost"
REVERB_PORT=81
REVERB_APP_TLS=false
REVERB_SERVER_PORT="${REVERB_PORT}"

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"
