DB_CONNECTION=
DB_PORT=
DB_FORWARD_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
APP_PATH=
NGINX_APP_PORT=
APP_PORT=
REDIS_FORWARD_PORT=
REVERB_CONNECTION=
REVERB_PORT=
APP_ENV=
RUN_DB_INIT=
RUN_MIGRATIONS=
#optional environment variables for controlling app behavior on boot
RESET_DB_ON_BOOT=
SEED_DB_ON_BOOT=